body{
  font-family: "Poppins", sans-serif;
  background: url('../images/bk1_image.jpg') no-repeat center center fixed;;
  background-size: cover;
  color: #fff;
  margin: 0;
  padding: 20px;
  min-height: 100vh;
  overflow-x: hidden;
}
.upload-container{
  max-width: 600px;
  margin: 40px auto;
  padding: 40px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(41, 59, 27, 0.3);
  background: rgba(52, 73, 32, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
h1{
  margin-bottom: 30px;
  color: #facc15;
}
.welcome-message{
  margin-bottom: 30px;
  font-size: 1.1rem;
}
.upload-form{
  margin: 30px 0;
}
.file-input{
  width: 100%;
  padding: 10px;
  margin: 15px auto;
  border: 2px dashed #facc15;
  border-radius: 10px;
  background: rgba(255,255,255,0.1);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  display: block;
  box-sizing: border-box;
}
.file-input::file-selector-button {
    background: #facc15;
    color: #000;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    font-weight: 600;
}

.file-input::file-selector-button:hover {
    background: #f59e0b;
}
.upload-btn{
  background: #facc15;
  color: #000;
  border: none;
  padding: 15px 30px;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
  margin-top: 15px;
}
.upload-btn:hover{
  background: #f59e0b;
  transform: translateY(-2px);
}
.uploaded-image{
  max-width: 300px;
  max-height: 300px;
  border-radius: 10px;
  margin: 15px 0;
  border: 3x solid #facc15
}
.navigation{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.nav-btn{
  background: transparent;
  color: #facc15;
  border: 2px solid #facc15;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}
.nav-btn:hover{
  background: #facc15;
  color: #000;
}
.flash-messages{
  color: #facc15;
  margin: 15px 0;
  font-weight: bold;
  padding: 10px;
  background: rgba(255,255,255,0.1);
  border-radius: 5px;
}
